<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-2 order-xl-2 mb-3 mb-xl-0">
      <div class="row">
        <div class="col">
          <a routerLinkActive="active" [routerLink]="['/sport/add']" class="btn btn-primary btn-add">
            <i class="ni ni-fat-add"></i>
          </a>
        </div>
      </div>
    </div>


    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 mrg-top" *ngFor="let sport of sports">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a routerLinkActive="active" [routerLink]="['/sport/']+sport.id" >
                <img src="https://tptnode.herokuapp.com/static/image/sports/{{sport.image}}" class="rounded-circle" alt="{{sport.image}}">
              </a>
            </div>
          </div>
        </div>

        <br><br>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{sport.league.length}}</span>
                  <span class="description">League number</span>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <div class="text-center">
            <h3>
              <a href="/league?sport={{sport.id}}" >
              {{sport.name}}
              </a>
            </h3>
            <hr class="my-4" />
            <button mat-stroked-button color="warn" (click)="deleteSport(sport.id)">DELETE</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer py-4">
      <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
          
          <div *ngIf="prevPage; then thenBlocks else elseBlocks"></div>
            <ng-template #thenBlocks>  
              <li class="page-item "> 
                <a class="page-link"  (click)="back()" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
            </ng-template>
            <ng-template #elseBlocks> 
               <li class="page-item disabled">  
                <a class="page-link"  (click)="back()" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
            </ng-template>
            <div *ngIf="hasNextPage; then thens else elses"></div>
            <ng-template #thens>  
              <li class="page-item">
                <a class="page-link"  (click)="pagination()">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ng-template>
            <ng-template #elses> 
              <li class="page-item disabled" >
                <a class="page-link" (click)="pagination()">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ng-template>
    
        </ul>
      </nav>
    </div> 
  </div>
</div>
