<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Articles list</h3>
            </div>
            <div class="col text-center">
            </div>
          </div>
        </div>
        <div class="col text-right">
          <a href="/article/add" class="btn btn-sm btn-primary"><i class="ni ni-fat-add"></i>Add</a>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>  
                <th scope="col">Titre</th>
                <th scope="col">image</th>
                <th scope="col">date</th>
                <th scope="col">description</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let article of articles">
                <td>{{article.titre}}
                </td>
                <td>
                  <img alt="Image placeholder" src="https://tptnode.herokuapp.com/static/image/articles/{{article.image}}"  alt="{{article.image}}" width="200px"></td>
                <td>{{article.date | date: 'dd-MM-yyyy'}}</td>
                <td>{{article.description}}</td>
                <td>                  
                  <a routerLinkActive="active" [routerLink]="['/article/']+article.id" >
                    <button mat-fab color="primary"  aria-label="Example icon button with a delete icon">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </a>
                  <button mat-fab color="warn" (click)="deleteArticle(article.id)" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
         
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              
              <div *ngIf="prevPage; then thenBlocks else elseBlocks"></div>
                <ng-template #thenBlocks>  
                  <li class="page-item "> 
                    <a class="page-link"  (click)="back()" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                </ng-template>
                <ng-template #elseBlocks> 
                   <li class="page-item disabled">  
                    <a class="page-link"  (click)="back()" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                </ng-template>
                <div *ngIf="hasNextPage; then thens else elses"></div>
                <ng-template #thens>  
                  <li class="page-item">
                    <a class="page-link"  (click)="pagination()">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ng-template>
                <ng-template #elses> 
                  <li class="page-item disabled" >
                    <a class="page-link" (click)="pagination()">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ng-template>
        
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>

