<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Leagues list</h3>
            </div>
            <div class="col text-center">
      
              <mat-form-field appearance="fill">
                <mat-label>Sport</mat-label>
                <mat-select [formControl]="sportControl" (selectionChange)="search($event.value)" required>
                  <mat-option [value]="valeur">--</mat-option>
                  <mat-option *ngFor="let sport of sports" [value]="sport">
                    {{sport.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col text-right">
              <a href="/league/add" class="btn btn-sm btn-primary"><i class="ni ni-fat-add"></i>Add</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Sport</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let league of leagues">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="https://tptnode.herokuapp.com/static/image/leagues/{{league.image}}"  alt="{{league.image}}">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">              
                        <a href="/team?league={{league.id}}" >
                          {{league.name}}
                        </a>
                      </span>
                    </div>
                  </div>
                </th>
                <div *ngIf="league.sport[0]; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <td >  
                    {{league.sport[0].name}}<img alt="Image placeholder"  class="avatar rounded-circle mr-3" src="https://tptnode.herokuapp.com/static/image/sports/{{league.sport[0].image}}"  alt="https://upload.wikimedia.org/wikipedia/commons/e/e6/Pas_d%27image_disponible.svg">
                  </td>
                </ng-template>
                <ng-template #elseBlock>
                 <td>Pas de sport(veillez inserer).</td>
                </ng-template>
                <td>
                  <a routerLinkActive="active" [routerLink]="['/league/']+league.id" >
                  <button mat-fab color="primary"  aria-label="Example icon button with a delete icon">
                    <mat-icon>edit</mat-icon>
                  </button>
                  </a>
                  <!-- <button type="button" class="btn btn-danger my-4"><i class="ni ni-fat-delete"></i></button> -->
                  <button mat-fab color="warn" (click)="deleteLeague(league.id)" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
         
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              
              <div *ngIf="prevPage; then thenBlocks else elseBlocks"></div>
                <ng-template #thenBlocks>  
                  <li class="page-item "> 
                    <a class="page-link"  (click)="back()" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                </ng-template>
                <ng-template #elseBlocks> 
                   <li class="page-item disabled">  
                    <a class="page-link"  (click)="back()" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                </ng-template>
                <div *ngIf="hasNextPage; then thens else elses"></div>
                <ng-template #thens>  
                  <li class="page-item">
                    <a class="page-link"  (click)="pagination()">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ng-template>
                <ng-template #elses> 
                  <li class="page-item disabled" >
                    <a class="page-link" (click)="pagination()">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ng-template>
        
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>
