<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<div class="col-xl-12 order-xl-1 mt--7">
  <div class="card card-profile bg-secondary shadow">
    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image">

        </div>
      </div>
    </div>
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Edit Team</h3>
        </div>
        <!-- <div class="col-4 text-right">
          <a href="#!" class="btn btn-sm btn-primary">Settings</a>
        </div> -->
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="pl-lg-4">
          <div class="row">
            <div class="col">
              <div class="form-group text-center">
                <a href="javascript:void(0)">
                  <img [src]="filePath" [alt]="myForm.value.name" style="max-height: 177px;" formcontrol="img">
                </a>
              </div>
            </div>
            
            <div class="col" style="height: 300px"  center="center" leaflet 
            [leafletOptions]="options" 
            [leafletLayers]="layers" (leafletClick)="handleEvent('click', $event)"></div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group text-center">
                <mat-form-field>
                  <ngx-mat-file-input  accept="image/*" (change)="imagePreview($event)" placeholder="Select picture" formControlName="filename"></ngx-mat-file-input>
                  <mat-icon matSuffix>insert_photo</mat-icon>
                </mat-form-field>
                <p></p>
              </div>
            </div>
            <div class="col">
              <h2>stade:</h2> <span>{{adresse}}</span>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Name</label>
                <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="" formControlName="name">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <mat-form-field >
              <mat-label>League</mat-label>
              <mat-select formControlName="league" required>
                <mat-option *ngFor="let leagu of league" [value]="leagu.id">
                  {{leagu.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <div class="col-lg-2">
            <button class="btn btn-sm btn-primary" >update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
