
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                   Debit
                  </h5>
                  <span class="h2 font-weight-bold mb-0">{{tresor.debit}}</span>
                </div>
                <div class="col-auto">
                  <div
                    class="
                      icon icon-shape
                      bg-danger
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Credit
                  </h5>
                  <span class="h2 font-weight-bold mb-0">{{tresor.credit}}</span>
                </div>
                <div class="col-auto">
                  <div
                    class="
                      icon icon-shape
                      bg-warning
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Solde
                  </h5>
                  <span class="h2 font-weight-bold mb-0">{{tresor.solde}}</span>
                </div>
                <div class="col-auto">
                  <div
                    class="
                      icon icon-shape
                      bg-yellow
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Total de paris en {{year}}
                  </h5>
                  <span class="h2 font-weight-bold mb-0">{{bet}}</span>
                </div>
                <div class="col-auto">
                  <div
                    class="
                      icon icon-shape
                      bg-info
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card  ">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-Black mb-0">Team Bet</h2>
            </div>

          </div>
        </div>
        <div class="card-body">
         <div class="row">
            <div class="col">
              <div class="chart" *ngIf="chartOptions">  
                <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [labels]="chartOptions.labels"
                [responsive]="chartOptions.responsive"
                [colors]="chartOptions.colors"
                ></apx-chart>
              </div>
            </div>
            
            <div class="col">
              <div class="chart" *ngIf="chartOptions2">  
                <apx-chart
                [series]="chartOptions2.seriesnon"
                [chart]="chartOptions2.chart"
                [xaxis]="chartOptions2.xaxis"
                [title]="chartOptions2.title"
                [colors]="chartOptions2.colors"
                ></apx-chart>
              </div>
            </div>
         </div>
        </div>
      </div>
      
    </div>
    
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Nombre de paris par mois</h3>
            </div>
            <div class="col text-right">    
              <mat-label>Year</mat-label>              
              <mat-select (selectionChange)="filtre($event.value)">
                <mat-option [value]="2019">2019
                </mat-option>
                <mat-option [value]="2020">2020
                </mat-option>
                <mat-option [value]="2021">2021
                </mat-option>
                <mat-option [value]="2022">2022
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="chart" *ngIf="chartOptions3">  
          <apx-chart
          [series]="chartOptions3.seriesnon"
          [chart]="chartOptions3.chart"
          [xaxis]="chartOptions3.xaxis"
          [title]="chartOptions3.title"
          [colors]="chartOptions3.colors"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="./node_modules/leaflet/dist/leaflet.css"
    />
  </head>

   <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Match Bet</h3>
            </div>
            <div class="col text-right">
              <a href="/match" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Team a domicile</th>
                <th scope="col">score</th>
                <th scope="col">Team a exterieur</th>
                <th scope="col">Nombre de paris</th>
                <th scope="col">Voir</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mst of mostbet">                
                <td>
                  <a
                    routerLinkActive="active"
                    [routerLink]="['/match/'] + mst.idmatch"
                  >{{mst.match[0].team_1[0].name}} 
                  </a>
                </td>
                <td>
                  {{mst.match[0].score_1}} -- {{mst.match[0].score_2}} 
                </td>
                <td>
                  <a
                    routerLinkActive="active"
                    [routerLink]="['/match/'] + mst.idmatch"
                  >S {{mst.match[0].team_2[0].name}}
                  </a>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{mst.count}}</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-danger"
                          role="progressbar"
                          aria-valuenow="{{mst.count}}"
                          aria-valuemin="0"
                          aria-valuemax="25"
                          style="width: 60%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>    
                  <a
                  routerLinkActive="active"
                  [routerLink]="['/match/'] + mst.idmatch"
                  >
                  <button type="button" class="btn btn-info my-4">
                    <i class="ni ni-ruler-pencil"></i>
                  </button>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Team Bet</h3>
            </div>
            <div class="col text-right">
              <a [routerLink]="" (click)="msg()" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Team</th>
                <th scope="col">Bet</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let statistiques of statistique"> 
                <th scope="row">{{statistiques.name}}</th>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{statistiques.count}}</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-danger"
                          role="progressbar"
                          aria-valuenow="60"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 60%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 
</div>
