<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Teams list</h3>
            </div>
            <div class="col text-center">
              <!-- select à mettre -->
              <mat-form-field>
                <mat-label>league</mat-label>
                <mat-select name="sportControl" (selectionChange)="search($event.value)" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let league of leagues" [value]="league">
                    {{league.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col text-right">
              <a routerLinkActive="active" [routerLink]="['/team/add']" class="btn btn-sm btn-primary"><i class="ni ni-fat-add"></i>Add</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">team</th>
                <th scope="col">league</th>
                <th scope="col">sport</th>
                <th scope="col">stade</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let team of teams">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="https://tptnode.herokuapp.com/static/image/teams/{{team.logo}}">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">      {{team.name}}</span>
                    </div>
                  </div>
                </th>
                <td><img alt="Image placeholder"  class="avatar rounded-circle mr-3" src="https://tptnode.herokuapp.com/static/image/leagues/{{team.league.image}}"  alt="">
                  {{team.league.name}} </td>
                  <div *ngIf="team.sport[0]; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                  <td>
                    <img alt="Image placeholder"  class="avatar rounded-circle mr-3" src="https://tptnode.herokuapp.com/static/image/sports/{{team.sport[0].image}}"  alt="">
                    {{team.sport[0].name}} 
                  </td> 
                  </ng-template>
                  <ng-template #elseBlock>
                    <td>Pas de sport(veillez inserer).</td>
                   </ng-template>
                   <td>
                    {{team.stade}} 
                  </td> 
                <td>
                  <a routerLinkActive="active" [routerLink]="['/team/']+team.id" >
                  <button type="button" class="btn btn-primary my-4" ><i class="ni ni-bullet-list-67"></i></button>
                  </a>
                  <button type="button" class="btn btn-danger my-4"  (click)="deleteTeam(team.id)"><i class="ni ni-fat-delete"></i></button>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              
              <div *ngIf="prevPage; then thenBlocks else elseBlocks"></div>
                <ng-template #thenBlocks>  
                  <li class="page-item "> 
                    <a class="page-link"  (click)="back()" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                </ng-template>
                <ng-template #elseBlocks> 
                   <li class="page-item disabled">  
                    <a class="page-link"  (click)="back()" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                </ng-template>
                <div *ngIf="hasNextPage; then thens else elses"></div>
                <ng-template #thens>  
                  <li class="page-item">
                    <a class="page-link"  (click)="pagination()">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ng-template>
                <ng-template #elses> 
                  <li class="page-item disabled" >
                    <a class="page-link" (click)="pagination()">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ng-template>
        
            </ul>
          </nav>
        </div> 
      </div>
    </div>
  </div>

</div>
