<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid"></div>
</div>
<div class="col-xl-12 order-xl-1 mt--7">
  <div class="card card-profile bg-secondary shadow">
    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image"></div>
      </div>
    </div>
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Finaliser Match</h3>
        </div>
        <!-- <div class="col-4 text-right">
          <a href="#!" class="btn btn-sm btn-primary">Settings</a>
        </div> -->
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="pl-lg-4">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label" for="input-email"
                  >{{team_1[0].name}}</label
                >
                <input
                  type="text"
                  id="input-email"
                  class="form-control form-control-alternative"
                  placeholder=""
                  formControlName="score1"
                  name="score1"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label" for="input-email"
                  >{{team_2[0].name}}</label
                >
                <input
                  type="text"
                  id="input-email"
                  class="form-control form-control-alternative"
                  placeholder=""
                  formControlName="score2"
                  name="score1"
                />
              </div>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <div class="col-lg-2">
            <button class="btn btn-sm btn-primary">update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
