<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid"></div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Matchs list</h3>
            </div>
            <div class="col text-center">
              <!-- select à mettre -->
              <label>Teams</label>
              <select class="form-control" (change)="getTeam($event.target.value)">
                <option value="0">--</option>
                <option>all</option>
                <option *ngFor="let team of teams1" value="{{team.id}}">{{team.name}}
                </option>
              </select>
             </div>
           <!-- <div class="col text-center">
              <label>Date</label>
              <input type="date">
            </div>
            <div class="col text-center">
              <label>Score</label>
              <input type="number">
            </div> -->
            <div class="col text-right">
              <a href="match/add" class="btn btn-sm btn-primary"
                ><i class="ni ni-fat-add"></i>Add</a
              >
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row" >
            <div class="col" >
              <table class="table align-items-center table-flush" >
                <thead class="thead-light">
                  <tr>
                    <th scope="col-6" style="text-align:center">Match non terminé</th>
                    <!-- <th scope="col">actions</th> -->
                  </tr>
                </thead>
                <tbody>
            
                </tbody>
              </table>    <div
              cdkDropList
              #nonterminedroplist="cdkDropList"
              [cdkDropListData]="matchsDontFinished"
              [cdkDropListConnectedTo]="[terminedroplist]"
              class="example-list"
              id="termine"
              (cdkDropListDropped)="drop($event)">
            <div
              *ngFor="let match of matchsDontFinished"
              class="example-box"
              cdkDrag
              [cdkDragData]="match">
                <nav>
                  <div clas="col-6" style="border-style:groove; border-radius: 12px;" >
                    <div class="row maitrise">
                      <div class="col">
                        <a
                          href="javascript:void(0)"
                          class="avatar rounded-circle mr-3"
                        >
                          <img alt="" src="https://tptnode.herokuapp.com/static/image/teams/{{ match.team_1[0].logo }}" />
                        </a>
                      </div>
                      <div class="col" style="width: 50px;">
                        {{ match.team_1[0].name }}
                      </div>
                      <div>vs
                      </div>
                      <div class="col">{{ match.team_2[0].name }}</div>
                      <div class="col">
                        <img
                          alt="Image placeholder"
                          class="avatar rounded-circle mr-3"
                          src="https://tptnode.herokuapp.com/static/image/teams/{{ match.team_2[0].logo }}"
                          alt=""
                        />
                      </div>  
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            </div>
            <div class="col">
              <table class="table align-items-center table-flush" >
                <thead class="thead-light">
                  <tr>
                    <th scope="col-6" style="text-align:center">Match terminé</th>
                    <!-- <th scope="col">actions</th> -->
                  </tr>
                </thead>
                <tbody>
                  <div
                    cdkDropList
                    #terminedroplist="cdkDropList"
                    [cdkDropListData]="matchsFinished"
                    [cdkDropListConnectedTo]="[nonterminedroplist]"
                    class="example-list"
                    id="termine"
                    (cdkDropListDropped)="drop($event)">
                  <div
                    *ngFor="let match of matchsFinished"
                    class="example-box"
                    cdkDrag
                    [cdkDragData]="match">
                      <nav>
                        <div clas="col-6" style="border-style:groove; border-radius: 12px;" >
                          <div class="row maitrise">
                            <div class="col">
                              <a
                                href="javascript:void(0)"
                                class="avatar rounded-circle mr-3"
                              >
                                <img alt="" src="https://tptnode.herokuapp.com/static/image/teams/{{ match.team_1[0].logo }}" />
                              </a>
                            </div>
                            <div class="col" style="width: 50px;">
                              {{ match.team_1[0].name }}  
                            </div>
                            <div> {{ match.score_1 }} -- {{ match.score_2 }}
                            </div>
                            <div class="col"> {{ match.team_2[0].name }}</div>
                            <div class="col">
                              <img
                                alt="Image placeholder"
                                class="avatar rounded-circle mr-3"
                                src="https://tptnode.herokuapp.com/static/image/teams/{{ match.team_2[0].logo }}"
                                alt=""
                              />
                            </div>  
                          </div>
                        </div>
                      </nav>
                    </div>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <div *ngIf="prevPage; then thenBlocks; else elseBlocks"></div>
              <ng-template #thenBlocks>
                <li class="page-item">
                  <a class="page-link" (click)="back()" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
              </ng-template>
              <ng-template #elseBlocks>
                <li class="page-item disabled">
                  <a class="page-link" (click)="back()" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
              </ng-template>
              <div *ngIf="hasNextPage; then thens; else elses"></div>
              <ng-template #thens>
                <li class="page-item">
                  <a class="page-link" (click)="pagination()">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ng-template>
              <ng-template #elses>
                <li class="page-item disabled">
                  <a class="page-link" (click)="pagination()">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ng-template>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
